:root[data-theme="light"]{
  --background-color: #fafafa;
  --selected-background: #f8f9fa;
  --border-color: #DADCE0;

  --unselected-font: #5f6368;
  --font-color: #202124;
  --hour-color: #20212499;
  --shadow-color: #3c40434d;

  --omsg-color: #d6d7db;
  --ymsg-color: #edeff3;

  --scrollthumb-color: #aaa;
  --scrollthumb-hover-color: #888;

  --red-color: #EA4335;
  --yellow-color: #FBBC05;
  --green-color: #8DC44F;
  --blue-color: #4486F4;

  --showsun: block;
  --showmoon: none;
  --tema: "claro";
}

:root[data-theme="dark"]{
  --background-color: #1C1D20;
  --selected-background: #2E3033;
  --border-color: #3C4043;

  --omsg-color: #3f4346;
  --ymsg-color: #565a5f;

  --scrollthumb-color: #888;
  --scrollthumb-hover-color: #555;

  --unselected-font: #80868B;
  --font-color: #E8EAED;
  --hour-color: #E8EAED99;
  --shadow-color: #1C1D20;

  --red-color: #EA4335;
  --yellow-color: #FBBC05;
  --green-color: #8DC44F;
  --blue-color: #4486F4;

  --showsun: block;
  --showmoon: none;
  --tema: "oscuro";
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.2s;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}

a{
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);

  display: flex ;
  flex-direction: column;

  overflow-x: hidden;

  font-size: 12px;

  height: 100%;
  width: 100%;

  transition: 0.2s;

  position: relative;

  user-select: none;
}

.chatsection{
  width: 310px;
  height: 450px;

  border-radius: 10px;

  border: var(--border-color) 1px solid;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chatsection .chathead{
  text-align: center;
  border-bottom: var(--border-color) 1px solid;
  padding: 4px 8px;

  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--font-color);
}
.chatsection .chathead div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatsection .chathead a{
  color: var(--font-color);
  padding: 5px;
  margin: 2px;

  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.chatsection .chathead a:hover{
  background-color: var(--border-color);
  transition: 0.2s;

  cursor: pointer;
}
.chatsection .chathead img{
  margin: 0 6px 0 6px;
  width: 20px;
  height: 20px;
  border-radius: 25px;
}

.closeBTN{
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  margin: 4px;

  border-radius: 20px;
}
.closeBTN:hover{
  background-color: var(--border-color);
  transition: 0.2s;

  cursor: pointer;
}

.chatsection .chatbody{
  padding: 14px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;

  align-items: flex-start;
  justify-content: flex-start;

  height: 100%;
}

.chatmsg{
  width: auto;
  max-width: 230px !important;

  position: relative;

  text-overflow: clip;
  word-break: break-all;
  word-wrap: break-word;
}



.chatsection .chatbody .othermsg{
  background-color: var(--omsg-color);
  padding: 10px;
  padding-right: 36px;
  border-radius: 6px;

  color: var(--font-color);

  position: relative;
} 
/* BEFORE*/
.chatsection .chatbody .othermsg:before{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;

  transform: rotate(-90deg);
  left: -11px;
  top: 11px;
  background-color: var(--omsg-color);
  border: var(--omsg-color) 2px solid;

  clip-path: polygon(50% 0%, 0% 80%, 100% 80%);
}
.chatsection .chatbody .othermsg span{
  position: absolute;
  margin-left: 4px;
  font-size: 0.7rem;

  right: 5px;
  bottom: 10px;

  color: var(--hour-color);
}

.chatsection .chatbody .yourmsg{
  background-color: var(--ymsg-color);
  border: var(--ymsg-color) 1px solid;
  padding: 10px;
  padding-right: 36px;
  border-radius: 6px;

  color: var(--font-color);

  position: relative;

  align-self: flex-end;

}
/* BEFORE */
.chatsection .chatbody .yourmsg:before{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;

  transform: rotate(90deg);
  right: -12px;
  top: 11px;
  background-color: var(--ymsg-color);
  border: var(--ymsg-color) 2px solid;

  clip-path: polygon(50% 0%, 0% 80%, 100% 80%);
}
.chatsection .chatbody .yourmsg span{
  position: absolute;
  margin-left: 4px;
  font-size: 0.7rem;

  right: 5px;
  bottom: 10px;

  color: var(--hour-color);
}

/* CHAT FOOT */
.chatsection .chatfoot{
  text-align: center;
  border-top: var(--border-color) 1px solid;
  padding: 8px;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--font-color);

  gap: 4px;
}
.chatsection .chatfoot a{
  color: var(--font-color);
  padding: 6px;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.chatsection .chatfoot a:hover{
  background-color: var(--border-color);
  transition: 0.2s;
}
.chatsection .chatfoot a span{
  font-size: 1.2rem;
}
.chatsection .chatfoot form{
  display: flex;
}
.chatsection .chatfoot input{
  min-height: 30px;
  border-radius: 20px;
  background-color: var(--background-color);
  
  border: var(--border-color) 1px solid;
  padding: 8px;
}
.chatsection .chatfoot input:focus{
  outline: none;
}
.chatsection .chatfoot form button{
  color: var(--font-color);
  padding: 6px;
  border-radius: 20px;
  border: none;
  background-color: var(--background-color);

  margin-left: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.chatsection .chatfoot form button:hover{
  background-color: var(--border-color);
  transition: 0.2s;
}

.othermsg .responseBTN{
  position: absolute;
  padding: 10px;

  background-color: none;

  right: -30px;
  top: 18px;
}

.yourmsg .responseBTN{
  position: absolute;
  padding: 10px;

  background-color: none;

  left: -24px;
  top: 18px;
}
.responseBTN{
  display: none;
}
.responseBTN:hover{
  cursor: pointer;
}
.responseBTN span{
  font-size: 1.3rem !important;
}

.yourmsg:hover > .responseBTN{
  display: initial;
}
.othermsg:hover > .responseBTN{
  display: initial;
}

@media (max-width: 1050px) {

}

/* Responsive media query code for small screen */
@media (max-width: 890px) {

}

::-webkit-scrollbar {
  width: 14px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--background-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollthumb-color);
  border-radius: 10px;
  border: 3px solid var(--background-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollthumb-hover-color);
}
