<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="../styles/footer.css">
    <script src="https://kit.fontawesome.com/69bd2e7207.js" crossorigin="anonymous"></script>
</head>
<body>
    <footer>
        <h2 class="title-footer">JuninWorks</h2>
        <h3 class="subtitle-footer">Creadores del sitio:</h3>
        <p class="text-creators">Estudiantes de 7° Programación 2024 (Fausto Diaz Carmody, Pablo Gutierrez, Maximo Donza, Santiago Henze y Damian Sala)</p>
        <span class="span-social-media">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-github"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-discord"></i></a>
            <a href=""><i class="fa-brands fa-whatsapp"></i></a>
            <a href=""><i class="fa-brands fa-at"></i></a>
        </span>
    </footer>
</body>
</html>