:root[data-theme="light"]{
    --background-color: #fafafa;
    --selected-background: #f8f9fa;
    --border-color: #acadaf;
  
    --unselected-font: #5f6368;
    --font-color: #202124;
    --shadow-color: #3c40434d;
  
    --red-color: #EA4335;
    --yellow-color: #FBBC05;
    --green-color: #8DC44F;
    --dark-green-color: #14801a;
    --blue-color: #4486F4;
  
    --showsun: block;
    --showmoon: none;
    --tema: "claro";
  }
  
  :root[data-theme="dark"]{
    --background-color: #1C1D20;
    --selected-background: #2E3033;
    --border-color: #3C4043;
  
    --unselected-font: #80868B;
    --font-color: #E8EAED;
    --shadow-color: #1C1D20;
  
    --red-color: #EA4335;
    --yellow-color: #FBBC05;
    --green-color: #8DC44F;
    --dark-green-color: #14801a;
    --blue-color: #4486F4;
  
    --showsun: block;
    --showmoon: none;
    --tema: "oscuro";
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100dvh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: start;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    /* Main */
main{
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
}
.perfil-datos{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5px;
    align-items: center;
    margin: 40px 0 0 40px;
}
.perfil-datos img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid var(--border-color);
    margin-left: 15px;
    background-position: center;
}
.perfil-datos h2{
    color: var(--font-color);
    font-size: 20px;
}
.perfil-datos p{
    font-size: 16px;
    padding: 5px 0;
    color: var(--font-color);
}
.perfil-datos button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 300px;
    padding: 5px 0;
    margin: 10px 0;
    border: 1px solid var(--border-color);
    color: var(--font-color);
    background-color: var(--background-color);
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: .3s;
}
.perfil-datos button:hover{
    transition: .4s;
    background-color: var(--border-color);
}
/* Perfil de proyectos */
.perfil-proyectos{
    display: flex;
    justify-content: center;
    align-items: start;
}
.container-proyectos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 240px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin: 25px 10px 15px 0;
}
.container-proyectos svg{
    fill: var(--font-color);
}
.container-proyectos h2{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
    color: var(--font-color);
}
.container-proyectos p{
    font-size: 14px;
    margin-bottom: 15px;
    color: var(--font-color);
}

/* Perfil de trabajos(repositorios) */
.perfil-trabajos{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 30px 15px 10px 20px;
    width: 100%;
    height: 100%;
}
.container-trabajos{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100px;
    gap: 10px;
    width: 90%;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}
.container-trabajos div{
    display: flex;
    flex-direction: row;
}


.container-trabajos .trabajo a{
    text-decoration: none;
    font-size: 20px;
    color: var(--font-color);
}
.container-trabajos .trabajo a:hover{
    transition: .3s;
    color: var(--blue-color);
}
.container-trabajos a:hover{
    background-color: var(--background-color);
}
.container-trabajos .trabajo p{
    font-size: 12px;
    padding: 0 3px 0 3px;
    margin: 6px 0 0 5px;
    border: 1px solid var(--border-color);
    color: var(--font-color);
    border-radius: 30px;
}
.container-trabajos .info p{
    color: var(--font-color);
    font-size: 13px;
}
.container-trabajos .info .trabajos-lenguaje{
    margin-right: 25px;
}
.info span{
    margin: auto;
    width: 15px;
    height: 15px;
    background-color: var(--blue-color);
    border-radius: 50%;
    margin-right: 3px;
}
.search-sort{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0 0 10px 10px;
    width: 90%;
}
.search-sort summary{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    color: var(--font-color);
    cursor: pointer;
    font-weight: 500;
    transition: .3s;

}
    /* Menu del summary */
.search-sort .summary-menu{
    border-radius: 8px;
    margin: 5px 0px 0px -100px;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
}
.search-sort .summary-menu:nth-child(2){
    margin-left: -40px;
}
.search-sort .summary-menu:nth-child(3){
    margin-left: -20px;
}
.summary-menu header{
    width: 100%;
    border: 1px solid var(--border-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: var(--background-color);
    padding: 8px 0;

}
.summary-menu header span{
    margin-left: 10px;
}
.summary-menu label{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    border: 1px solid var(--border-color);
    border-top: none;
    background-color: var(--background-color);
    padding: 8px 0;
    cursor: pointer;
}
.summary-menu label:hover{
    transition: .3s;
    background-color: var(--border-color);
}
.summary-menu label:last-child{
    border-bottom: 1px solid var(--border-color);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.summary-menu label span{
    margin-left: 10px;
}
.summary-menu label .text{
    margin-left: 4px;
}
.search-sort summary:hover{
    transition: .4s;
    background-color: var(--border-color);
    border: 1px solid var(--font-color);
}
.search-sort .crear{
    border: none;
    background-color: var(--dark-green-color);
    color: var(--background-color);
    font-weight: bolder;
    font-size: 14px;
}
.search-sort .crear:hover{
    transition: .4s;
    background-color: var(--dark-green-color);
    border: none;
    opacity: .8;
}
.search-sort input{
    width: 50%;
    min-width: 30%;
    height: 36px;
    padding: 8px 0 8px 8px;
    border-radius: 8px;
    border: none;
    background-color: var(--background-color);
    color: var(--font-color);
    outline: 1px solid var(--border-color);

}
.search-sort input:focus{
    border: none;
    transition: .3s;
    outline: 1px solid var(--font-color);
}
    /* footer */
footer{
    box-sizing: border-box;
    margin-top: auto;
}
.footer-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: auto;
    bottom: 0;
    position: absolute;
    color: var(--font-color);
    
}
.footer-container-top{
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
    width: 100%;
    height: 180px;

}
.footer-main a{
    text-decoration: none;
    color: var(--font-color);
    font-size: 18px;
}
.footer-links-container{
    display: flex;
    flex-flow: column wrap;
    width: 25%;
    gap: 5px;
    justify-content: center;
    align-items: start;
    padding-left: 65px;
}
.footer-middle-container{
    display: flex;
    flex-flow: column wrap;
    width: 50%;
}
.footer-end-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 25%;
    gap: 10px;
}
.footer-middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.footer-middle h2{
    font-size: 28px;
    padding: 0;
    margin: 0;
    color: var(--font-color);
}
.footer-middle p{
    font-size: 18px;
    margin-top: -5px;
    padding-bottom: 5px;
    color: var(--font-color);
}

.footer-middle ul{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 200px;

}
.footer-social ul li{
    display: flex;
}
.footer-middle svg{
    width: 25px;
    height: 25px;
    margin: 0 3px 0 3px;
}
.footer-derechos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    bottom: 0;
    background-color: var(--font-color);
}
.footer-derechos p{
    text-align: center;
    color: var(--font-color);
    font-size: 16px;
}